.rightbar {
  flex: 3;
}

.rightbarWrapper {
  padding: 20px 20px 0px 0px;
}

.eventContainer {
  display: flex;
  align-items: center;
}

.startImg {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.eventText {
  font-weight: 300;
  font-size: 15px;
}

.eventImg {
  width: 100%;
  border-radius: 10px;
  margin: 25px 0px;
}

.rightbarTitle {
  margin-bottom: 20px;
}

.rightbarFriendList {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.rightbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rightbarProfileImgContainer {
  margin-right: 10px;
  position: relative;
}

.rightbarProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.rightbarUserName {
  font-weight: 550;
}

.rightbarOnline {
  background-color: purple;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: -2px;
  left: 0;
  border: 2px solid white;
}

.promotionTitle {
  font-size: 18px;
  font-weight: 550;
  margin-bottom: 10px;
}

.rightbarPromotionImg {
  width: 85%;
  border-radius: 10px;
  margin: 25px 0px;
}

.promotionName {
  font-size: small;
  color: rgb(82, 82, 82);
  margin-top: -20px;
}

.rightbarTitle {
  font-size: 18px;
  font-weight: 550;
  margin-bottom: 10px;
}

.rightbarInfo {
  margin-bottom: 30px;
}

.rightbarInfokey {
  font-weight: 500;
  margin-right: 5px;
  color: #555;
}

.tightbarFollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rightbarFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}

.rightbarFollowingImg {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  color: #555;
}

.rightbarInfoItem {
  margin-bottom: 10px;
}
